<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="../register/register.component.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <div class="title">Login</div>
        <div class="content">
            <form action="#">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">UserName</span>
                        <input type="text" placeholder="UserName" required
                            [(ngModel)]="this.service.formdata.EmpUserName" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="input-box">
                        <span class="details">Password</span>
                        <input type="password" placeholder="password" required
                            [(ngModel)]="this.service.formdata.Emppassword" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Login" (click)="Login()">
                </div>
            </form>
        </div>
    </div>

</body>

</html>